// surface imports and customization
// Colors
@import "~surface/src/scss/_imports/_colors.scss";
$primary: #e67e22;
$secondary: $asbestos;
$accent: #ff5722;

@import "~surface/src/scss/buttons.scss";

@import 'screen.css';

@import 'github-corner.scss';

::-moz-selection {
  background: #fff !important;
  color: #444 !important;
}

::selection {
  background: rgba(255, 255, 255, 0) !important;
  color: #444 !important;
}

#universe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.APL {
    background: rgba(243, 243, 243, 0.5);
    color: #500;
    font-family: "APL385", "APL385 Unicode", "APLX Upright", "Courier APL2 Unicode", "SImPL", "SiMPL medium", monospace;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 0.5em;
    a {
        text-decoration: none;
    }
}

.controls {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}

.github-link {
    text-align: center;
    a {
        text-decoration: none;
    }
    .octicon {
        vertical-align: bottom;
    }
}

#fps-info {
    min-width: 10rem;
    display: inline-block;
}

.text-content {
    margin-bottom: 5rem;
}

small {
    font-size: 0.9rem;
}