* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  padding: 0;
}

body,html {
  margin: 0;
  width: 100%;
}

body {
  height: 100%;
  padding: 1em;
  font-family: Alegreya,Palatino,Georgia,serif;
  font-size: 100%;
  color: #444;
}

a,a:visited {
  color: #444;
  transition: color .3s ease;
}

a:hover {
  color: #000;
}

.content {
  padding: .809em;
  max-width: 30em;
  margin: auto;
}

article>h1:first-child {
  display: none;
}

article h1,article h2,article h3,article h4,article h5 {
  font-weight: 400;
  margin-top: 2em;
  color: #000;
}

article h1,article h2 {
  font-size: 1.5em;
}

article h3 {
  font-family: Alegreya SC,Palatino,Georgia,serif;
  font-weight: 400;
  text-transform: lowercase;
}

article h4 {
  font-size: 1em;
  font-style: italic;
}

article h5 {
  font-style: normal;
}

article ol {
  list-style-position: outside;
  padding: 0;
}

@media (min-width:33.236em) {
  .content {
    padding: 1.618em;
    margin: 0 auto;
    max-width: 45rem;
    font-size: 125%;
  }
}

@media (min-width:33.236em) and screen and (min-width:30em) and (max-width:63.236em) {
  .content,  .text-content {
    width: 30em;
  }
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

canvas {
  display: inline-block;
}

[hidden] {
  display: none;
}

[class^=btn] {
  transition: all .3s cubic-bezier(.64,.09,.08,1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.14),0 2px 10px 0 rgba(0,0,0,.1);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background-color .3s cubic-bezier(.64,.09,.08,1),box-shadow .3s cubic-bezier(.64,.09,.08,1);
  will-change: background-size,background-image;
  padding: 10px 20px;
  display: inline-block;
  font-family: Roboto;
  border: 0;
}

[class^=btn]:after {
  position: absolute;
  content: "";
  transition: none;
  background: radial-gradient(circle,#fff 95%,transparent 0);
  background-size: .7%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

[class^=btn]:focus {
  outline: none;
  background-size: 1000%;
  transition: all 1s cubic-bezier(.64,.09,.08,1);
}

.btn--raised {
  border-radius: 1.98px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.14),0 2px 10px 0 rgba(0,0,0,.1);
  background-image: radial-gradient(circle,#3498db 1%,#75b9e7 15%,transparent 30%);
  background-color: #3498db;
  will-change: box-shadow,background-color;
  color: #fff;
}

.btn--raised:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.16),0 4px 15px 0 rgba(0,0,0,.13);
  background-color: #4aa3df;
}

.btn--primary {
  background-image: radial-gradient(circle,#e67e22 1%,#eea667 15%,transparent 30%);
  background-color: #e67e22;
}

.btn--primary:hover {
  background-color: #e98b39;
}

.btn--secondary {
  background-image: radial-gradient(circle,#7f8c8d 1%,#a7b0b1 15%,transparent 30%);
  background-color: #7f8c8d;
}

.btn--secondary:hover {
  background-color: #8c9899;
}

.github-corner svg {
  fill: rgba(222,122,39,.5);
  color: #fff;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner svg:hover {
  fill: rgba(255,118,5,.5);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave .56s ease-in-out;
}

@keyframes octocat-wave {
  0%, to {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave .56s ease-in-out;
  }
}

.github-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

::-moz-selection {
  background: #fff!important;
  color: #444!important;
}

::selection {
  background: hsla(0,0%,100%,0)!important;
  color: #444!important;
}

#universe {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.APL {
  background: hsla(0,0%,95%,.5);
  font-family: APL385,APL385 Unicode,APLX Upright,Courier APL2 Unicode,SImPL,SiMPL medium,monospace;
  text-align: center;
  padding: .5em 0;
  border-radius: .5em;
}

.APL a {
  text-decoration: none;
}

.controls {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}

.github-link {
  position: fixed;
  top: 24px;
  left: 125px;
  font-size: 1rem;
}

.github-link a {
  text-decoration: none;
}

.github-link .octicon {
  height: 20px;
  vertical-align: sub;
}

#fps-info {
  min-width: 10rem;
  display: inline-block;
}

.text-content {
  position: fixed;
  top: 55px;
  bottom: 115px;
  left: 0;
  right: 0;
  max-width: 45em;
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;
}

small {
  font-size: .9rem;
}